<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

    {%- include head.html -%}

    <body class="blog wp-embed-responsive custom-font-enabled single-author {% if page.full_width %}full-width{% endif %}">
        <div class="hfeed site">
            {%- include header.html -%}
            <div class="wrapper" id="main">
                <div class="site-content" id="primary">
                    <div id="content" role="main">
                        <article class="post-102 page type-page status-publish hentry" id="post-102">
                                {{ content }}
                        </article>
                        <div class="comments-area" id="comments"></div>
                    </div>
                </div>
                {%- if page.testimonial -%}
                <div class="widget-area testimonial" id="secondary" role="complementary">
                    <aside class="widget widget_text" id="text-7">
                        <div class="textwidget">
                            <p>
                                {{ page.testimonial.content }}
                            </p>
                            <p>
                              {%- for job in page.testimonial.jobs -%}
                                {{ job }}<br/>
                  {%- endfor -%}


                            </p>
                        </div>
                    </aside>
                </div>
                {%- endif -%}
                {%- if page.layout == 'post' -%}
                    {%- include post_sidebar.html -%}
                {%- endif -%}
            </div>
        </div>
    </body>

</html>
