---
layout: default
---

<header class="entry-header">
    {%- if page.image -%}
      <img
      width="624"
      height="345"
      src="/assets/{{ page.image}}"
      class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
      alt="{{ page.title }}"
    />
  {%- endif -%}
  <h1 class="entry-title">{{ page.title }}</h1>
</header>
<div class="entry-content">
  {{ content }}
</div>
<footer class="entry-meta">
<p>
  This entry was posted on {{ page.date_gmt | date: "%-d %b %Y" }}.
</p>
{%- if page.tags.size > 0 -%}
  <p>
    Tagged&nbsp;
    {%- for tag in page.tags -%}
      <a href="/tags/{{ tag }}/" rel="tag">{{ tag }}</a>&nbsp;
    {%- endfor -%}
  </p>
{%- endif -%}
</footer>
<nav class="nav-single">
  <h3 class="assistive-text">Post navigation</h3>
  {% if page.previous.url %}
      <span class="nav-previous"><a href="{{page.previous.url}}" rel="prev"><span class="meta-nav">&larr;</span>{{page.previous.title}}</a></span>
  {% endif %}
  {% if page.next.url %}
    <span class="nav-next"><a href="{{page.next.url}}" rel="next">{{ page.next.title }} <span class="meta-nav">&rarr;</span></a></span>
  {% endif %}
</nav>


<div class="comments-area">
			<h2 class="comments-title">
        {{ page.comments | size | pluralize: 'comment' }} on  &ldquo;{{ page.title}}&rdquo;
      </h2>
		<ol class="commentlist">
      {%- for comment in page.comments -%}
        {%- assign comment = page.comments | where: "id", id | first -%}
          <li class="comment even thread-even depth-1">
            <article  class="comment">
              <header class="comment-meta comment-author vcard">
                <cite><b class="fn">{{ comment.author }}</b></cite>
                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ comment.date_gmt | date: "%-d %b %Y at %I:%M %P" }}
                  </time>
              </header>
              <section class="comment-content comment">
                <p>{{ comment.content }}</p>
              </section>
          </li>
        {%- endfor -%}
    </ol>
		<div class="comment-respond">
      <h3 id="reply-title" class="comment-reply-title">
      Leave a Reply
      </h3>
      <br />
      <form class="contact-form commentsblock" name="comment" netlify>
        <div class="grunion-field-wrap grunion-field-name-wrap">
          <label for="name" class="grunion-field-label name">Name:<span>(required)</span></label>
          <input type="text" name="name" class="name" required aria-required="true">
        </div>
        <div class="grunion-field-wrap grunion-field-email-wrap">
          <label for="email" class="grunion-field-label email">Email:<span>(required)</span></label>
          <input type="email" name="email" id="email" value="" class="email" required aria-required="true">
        </div>
        <div class="grunion-field-wrap grunion-field-textarea-wrap">
          <label for="message" class="grunion-field-label textarea">Message:<span>(required)</span></label>
          <textarea name="g11-message" id="message" rows="20" class="textarea" required aria-required="true"></textarea>
        </div>
        <p class="contact-submit">
          <input type="submit" value="Submit" class="pushbutton-wide">
        </p>
      </form>
		</div>
</div>
