---
layout: default
---

<header class="entry-header">
    {%- if page.image -%}
      <img
      width="624"
      height="345"
      src="/assets/{{ page.image}}"
      class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
      alt="{{ page.title }}"
    />
  {%- endif -%}
  <h1 class="entry-title">{{ page.title }}</h1>
</header>
<div class="entry-content">
  {{ content }}
</div>
<nav class="nav-single">
  <h3 class="assistive-text">Post navigation</h3>
  {% if page.previous.url %}
      <span class="nav-previous"><a href="{{page.previous.url}}" rel="prev"><span class="meta-nav">&larr;</span>{{page.previous.title}}</a></span>
  {% endif %}
  {% if page.next.url %}
    <span class="nav-next"><a href="{{page.next.url}}" rel="next">{{ page.next.title }} <span class="meta-nav">&rarr;</span></a></span>
  {% endif %}
</nav>
